html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Denk One";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

main h1 {
  margin: 1.5rem;
  color: #623b0c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main h2 {
  color: #623b0c;
}

img {
  width: 30rem;
}

ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .5em .75em .6em;
  gap: 1rem;
  margin: 1.5rem;
}

li {
  border-style: solid;
  border-width: 2px;
  list-style-type: none;
  padding: 1rem;
  background-color: #ede3db;
  border-radius: 8px;
  border-color: #623b0c;
}

main p {
  font-family: Georgia;
}

main a {
  font-family: Georgia;
}
