html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Denk One";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

img {
width: auto;
}
ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .5em .75em .6em;
  gap: 1rem;
  margin: 1.5rem;
}
